body {
    background-color: pink;
    font-family: Comic Sans MS;
}

h1 {
    color: red;
    text-align: center;
    background-color: yellow;
}

h2 {
    color: blue;
}

p {
    color: green;
    font-size: 18px;
}

img {
    width: 250px;
    border: 5px dashed black;
}

footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 15px;
}